#####################################################
#                 RESEND (MAILER)                   #
#####################################################
RESEND_FROM_ADDRESS=replace@me.mail
RESEND_API_KEY=re_123xxx

#####################################################
#            DATABASE CONNECTION(POSTGRES)          #
#####################################################
DATABASE_URL=postgresql://postgres:postgres@db:5432/mds?schema=public

#####################################################
#                     AUTH                          #
#####################################################
BETTER_AUTH_URL=http://localhost:3000

#####################################################
#                     OTHER                         #
#####################################################
NODE_ENV=development
